<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhongji.collection.android.phone"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
     
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <supports-screens 
           android:largeScreens="true"  
            android:normalScreens="true" 
            android:smallScreens="true"  
            android:anyDensity="true"/> 
            
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- 启动页 -->
        <activity
            android:name="com.zhongji.collection.launch.LaunchActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        
        <!-- 引导页 -->
        <activity 
            android:name="com.zhongji.collection.launch.GuideActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 空页面 -->
        <activity 
            android:name="com.zhongji.collection.launch.EmptyActivity" android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 登录页 -->
        <activity 
            android:name="com.zhongji.collection.login.LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 首页 -->
        <activity 
            android:name="com.zhongji.collection.home.HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 修改密码 -->
        <activity 
            android:name="com.zhongji.collection.login.EditPasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 新建项目 -->
        <activity 
            android:windowSoftInputMode="stateAlwaysHidden"
            android:name="com.zhongji.collection.project.NewProActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 全部项目 -->
        <activity 
            android:name="com.zhongji.collection.project.AllProActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 我的项目 -->
        <activity 
            android:name="com.zhongji.collection.project.MyProActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 搜索项目 -->
        <activity 
            android:name="com.zhongji.collection.project.SearchProActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 项目阶段 -->
        <activity 
            android:name="com.zhongji.collection.project.ProjectStageActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- 项目详情 -->
        <activity 
            android:name="com.zhongji.collection.project.ProjectDetialActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <!--语音搜索  -->
         <activity 
            android:name="com.zhongji.collection.seach.SeachVoiceActivity"
            android:screenOrientation="portrait" >
        </activity>
        
          
        <!--地图搜索  -->
         <activity 
            android:name="com.zhongji.collection.seach.SeachMapActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <!--文字搜索  -->
         <activity 
            android:name="com.zhongji.collection.seach.SeachAdvancedActivity"
            android:screenOrientation="portrait" >
        </activity>
        
          <!--搜索结果  -->
         <activity 
            android:name="com.zhongji.collection.seach.SeachResultActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>